/* CSS for the blank page popup window */

body {
    text-align: center;
}

.popup-content {
    margin: 2em auto;
    width: 50%;
    text-align: left;
    display: block;
    border: 1px solid #c9c9c9;
    font-size: 1.5em;
}

.popup-content p {
    margin: 1em;
}

.popup-link {
    margin: 0;
    padding: 1em;
    background: #c9c9c9;
    text-align: center;
}

